$ORIGIN {{ domain_name }}.
$TTL 3600
@       IN      SOA     ns1.{{ domain_name }}. admin.{{ domain_name }}. (
                        2023031500      ; serial
                        3600            ; refresh
                        1800            ; retry
                        604800          ; expire
                        86400           ; minimum
)
                IN      NS      ns1.{{ domain_name }}.
                IN      A       {{ primary_manager_ip }}

ns1             IN      A       {{ primary_manager_ip }}
www             IN      A       {{ primary_manager_ip }}
api             IN      A       {{ primary_manager_ip }}
pgadmin         IN      A       {{ primary_manager_ip }}

; DR site records
dr              IN      A       {{ secondary_manager_ip }}
api-dr          IN      A       {{ secondary_manager_ip }}
pgadmin-dr      IN      A       {{ secondary_manager_ip }}