.:53 {
    forward . 8.8.8.8 8.8.4.4
    log
    errors
}

{{ domain_name }}:53 {
    file /etc/coredns/zones/{{ domain_name }}.db
    log
    errors
}

{{ reverse_zone }}:53 {
    file /etc/coredns/zones/{{ reverse_zone }}.db
    log
    errors
}