# PostgreSQL client authentication configuration file
# Allow connections from primary server
host    all             all             {{ primary_ip }}/32         md5

# Default rules
host    all             all             0.0.0.0/0                   md5
local   all             all                                         trust
host    all             all             127.0.0.1/32                trust
host    all             all             ::1/128                     trust